<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />

    <script>history.scrollRestoration = "manual"</script>

    <script type="text/javascript" src="/static/js/main.js" defer></script>

</head>

<body>

<div class="jumbotron text-center">
    <img id="banner" src="/static/img/banner.png" alt="Emotional Support Pet Store">
</div>

<div class="site-content">

    <div class="cart">
        <span class="btn btn-light" data-toggle="modal" data-target="#exampleModal3" >
            <img class="cart-icon" src="/static/img/cart.png"></span>
        <span class="cart-item-number" th:text="${orderCount}">Empty!</span>
    </div>

    <div class="dropdown-container">

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Product Category
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <a th:each="categ,iterStat : ${category}" class="dropdown-item productCategory" href="#!" th:id="${categ.id}" th:text="${categ.name}">Category Title</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button" id="dropdownMenu2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Product Supplier
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <a th:each="supplier,iterStat : ${suppliers}" class="dropdown-item supplier" href="#!" th:id="${supplier.id}" th:text="${supplier.name}">Supplier Title</a>
            </div>
        </div>
    </div>
    <div class="container">
       <!--<div class="card">
            <strong class="filter-product-category">Select by Product Category</strong>
            <div class="hidden-category product-category" th:each="categ,iterStat : ${category}">
            <strong class="productCategory" th:id="${categ.id}" th:text="${categ.name}">Category Title</strong>
            </div>
        </div>-->

        <!--<div class="card">
            <strong class="filter-supplier">Select by Product Supplier</strong>
            <div class="hidden-supplier supplier-options" th:each="supplier,iterStat : ${suppliers}">
                <strong class="supplier" th:id="${supplier.id}" th:text="${supplier.name}">Supplier Title</strong>
            </div>
        </div>-->

        <div id="products" class="row">
            <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
                <div class="card">
                    <img class="image" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                    <div class="card-header">
                        <h4 class="card-title" th:id="${prod.id}" th:text="${prod.name}">Product name</h4>
                        <p class="card-text" th:text="${prod.description}">Product description... </p>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="card-text">
                            <button class="btn btn-success">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal3Label">Cart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    The cart is empty! Woof!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Go to checkout</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>