<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Confirmation</title>
    <link rel="stylesheet" type="text/css" href="static/css/order-confirmation.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<h2>Details of your order</h2>
<p class="alert alert-success" id="alert-box">Payment successful.</p>
<div id="thank-you">
    <p>Thank You for choosing our service!</p>
    <img src="static/img/heart.jpg" id="heart-img">
</div>
</div>
</body>
</html>