#alert-box {
    width: 50%;
    margin: auto;
}

h2 {
    text-align: center;
    padding: 50px;
}

#details-table {
    position: relative;
    top: 50px;
    width: 80%;
    margin: auto;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
}

#head-row{
    background-color: #666666;
    color: white;
}

#sum-row {
    background-color: antiquewhite;
    color: darkred;
    font-weight: bold;
}

.right-aligned {
    text-align: right;
}

#thank-you{
    justify-content: center;
    position: relative;
    top: 100px;
    text-align:center;
    display:block;
    padding-bottom: 100px;
}

#heart-img{
    position: relative;
    top: 10px;
    align-content: center;
}

#cont-shopping {
    position: relative;
    top: 50px;
    width: 20%;
    align-content: center;
    margin: auto;
}